*{
  box-sizing: border-box;
}

:root {
  --keyW: 90px;
  --keyH: calc(1.2 * var(--keyW));
}

body {
  background: black;
  color: white;
}

#pi {
  height: var(--keyH);
  font-size: 48px;
}


#keyboard {
  display: grid;
  grid-template-columns: repeat(3,var(--keyW)) ;
  grid-template-rows: repeat(4,var(--keyH));
  gap: 10px;
  justify-content: center;
}

.key {
  font-size: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  border-width: 2px;
  border-radius: 3px;
  border-color: white;
  border-style: solid;
  background: black;
  color: white;
  box-shadow: 4px 4px #666;
}

.key:hover {
  background-color: #333;
}

.key:active, .key-down {
  background-color: #333;
  transform:translate(3px, 3px);
  box-shadow: 1px 1px #666;
}

.key:hover {
  border-width: 4px 2px 2px 4px;
}
