*{
  box-sizing: border-box;
}

:root {
  --keyW: 90px;
  --keyH: calc(1.2 * var(--keyW));
  --digitW: 40px;
  --shift:calc(- var(--digitW));
}

body {
  background: black;
  color: white;
}

#pi {
  height: var(--keyH);
  width: 75%;
  font-size: 48px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: auto;
  position: relative;
}

.translate {
  transform: translateX(-40px);
  transition-property: transform;
  transition-duration: 200ms;
}

.pi-digit {
  flex-basis: var(--digitW);
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  color: #ffa74e;
}

#three {
  position: relative;
}

#decimal {
  width: var(--digitW);
  position:absolute;
  top:0px;
  left: calc( var(--digitW)/2);
}

#question {
  color: #4e4eff;
}

.hidden {
  visibility: hidden;
}

.error {
  color: red;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(3,var(--keyW)) ;
  grid-template-rows: repeat(4,var(--keyH));
  gap: 10px;
  justify-content: center;
}

.key {
  font-size: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  border-width: 2px;
  border-radius: 3px;
  border-color: white;
  border-style: solid;
  background: black;
  color: white;
  box-shadow: 4px 4px #666;
}

.key:hover {
  background-color: #333;
}

.key:active, .key-down {
  background-color: #333;
  transform:translate(3px, 3px);
  box-shadow: 1px 1px #666;
}

